<!-- Start content -->
<div class="content">
    <div class="container-fluid">        
        <label for="inputCity" class="col-form-label"></label>
        <!-- Form row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    {{!-- <form> --}}
                    {{!-- <h4 class="header-title m-t-0 m-b-30"></h4> --}}
                    {{!-- <ul class="nav nav-pills navtab-bg nav-justified"> --}}
                    <ul class="nav nav-tabs tabs-bordered nav-justified">
                        <li class="nav-item">
                            <a href="#tabMain" class="nav-link active" data-toggle="tab" aria-expanded="true">All Available Agencies</a>
                        </li>
                        <li class="nav-item">
                            <a href="#tabDetails" class="nav-link" data-toggle="tab" aria-expanded="false">Add/Update Agencies</a>
                        </li>                                                                                       
                    </ul>
                    {{!-- <hr> --}}
                    <div class="tab-content" style = "width: 100%;">
                        <div class="tab-pane active" id="tabMain">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-box table-responsive">
                                        {{!-- <h4 class="m-t-0 header-title"><b>Agencies Details</b></h4>
                                        <p class="text-muted font-13 m-b-30">

                                        </p> --}}
                                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%">ID</th>
                                                    <th>AGENCY</th>                                                    
                                                    <th>ABBREVIATION</th>   
                                                    <th>CATEGORY</th>                                                         
                                                    <th>CITY</th>
                                                    <th>COUNTRY</th>                                                   
                                                    <th>DESCRIPTION</th>
                                                    <th>STATUS</th>                                               
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ID 1</td>
                                                    <td>AGENCY 1</td>                                                    
                                                    <td>AB 1 </td>   
                                                    <td>CATEGORY 1</td>                                                         
                                                    <td>CITY 1</td>
                                                    <td>COUNTRY 1</td>                                                   
                                                    <td>DESCRIPTION 1</td>
                                                    <td>STATUS 1</td>                                               
                                                </tr>
                                                <tr>
                                                    <td>ID 2</td>
                                                    <td>AGENCY 2</td>                                                    
                                                    <td>AB 2 </td>   
                                                    <td>CATEGORY 2</td>                                                         
                                                    <td>CITY 2</td>
                                                    <td>COUNTRY 2</td>                                                   
                                                    <td>DESCRIPTION 2</td>
                                                    <td>STATUS 2</td>                                               
                                                </tr>
                                                <tr>
                                                    <td>ID 3</td>
                                                    <td>AGENCY 3</td>                                                    
                                                    <td>AB 3 </td>   
                                                    <td>CATEGORY 3</td>                                                         
                                                    <td>CITY 3</td>
                                                    <td>COUNTRY 3</td>                                                   
                                                    <td>DESCRIPTION 3</td>
                                                    <td>STATUS 3</td>                                               
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="tabDetails">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="Name" class="col-form-label">Add/Update Agency</label>
                                    <select class="form-control select2" id="cmbAU" name="cmbAU_n">
                                        <option>Add Agency</option>
                                        <option>Update Agency</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="Name" class="col-form-label">Select Agency For Update</label>
                                    <select id="cmbSelect" name="cmbSelect_n" class="form-control select2">
                                        <option>Agency 1</option>
                                        <option>Agency 2</option>
                                        <option>Agency 3</option>
                                        <option>Agency 4</option>
                                    </select>
                                </div>

                                {{!-- <div class="form-group col-md-2">
                                    <label for="Status" class="col-form-label">Status</label>
                                    <select id="cmbStatus" name="cmbStatus_n" class="form-control select2"></select>
                                </div> --}}
                            </div>  

                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <label for="Name" class="col-form-label">Agency Category</label>
                                    <select id="cmbCategory" name="cmbCategory_n" class="form-control select2">
                                        <option>Category 1</option>
                                        <option>Category 2</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="Name" class="col-form-label">Agency Name<span class="text-danger">*</span></label>
                                    <input type="text" id="txtName" name="txtName_n" class="form-control" autocomplete="off" placeholder="" required>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="Code" class="col-form-label">Agency Letter ID<span class="text-danger">*</span></label>
                                    <input type="text" id="txtCode" name="txtCode_n" class="form-control" autocomplete="off" placeholder="" required>
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="Name" class="col-form-label">Agency Abbreviation</label>
                                    <input type="text" id="txtAbbreviation" name="txtAbbreviation_n" class="form-control" autocomplete="off" placeholder="">
                                </div>                                

                                 <div class="form-group col-md-2">
                                    <label for="Name" class="col-form-label">Start Date</label>
                                    <input type="date" id="dtStart" name="dtStart_n" class="form-control" placeholder="">
                                </div>

                                <div class="form-group col-md-2" hidden>
                                    <label for="Name" class="col-form-label">End Date</label>
                                    <input type="date" id="dtEnd" name="dtEnd_n" class="form-control" placeholder="" >
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="Name" class="col-form-label">Legal Name</label>
                                    <input type="text" id="txtLeagelName" name="txtLeagelName_n" class="form-control" autocomplete="off" placeholder="">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="Name" class="col-form-label">Billing Email</label>
                                    <input type="text" id="txtBillingEmail" name="txtBillingEmail_n" class="form-control" autocomplete="off" placeholder="">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="Name" class="col-form-label">Billing Phone</label>
                                    <input type="text" id="txtBillingPhone" name="txtBillingPhone_n" class="form-control" autocomplete="off" placeholder="">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="Name" class="col-form-label">City</label>
                                    <input type="text" id="txtCity" name="txtCity_n" class="form-control" autocomplete="off" placeholder="">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="Name" class="col-form-label">Country or State</label>
                                    <input type="text" id="txtState" name="txtState_n" class="form-control" autocomplete="off" placeholder="">
                                </div>                               
                            </div>

                            <div class="form-row">                                
                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="Address" class="col-form-label">Legal Address</label>
                                        <textarea class="form-control" style="height: 212px;" id="txtAddress" name="txtAddress_n" rows="5"
                                            placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">
                                    <div class="form-group">
                                        <label for="Address" class="col-form-label">Billing Contact</label>
                                        <textarea class="form-control" style="height: 212px;" id="txtContact" name="txtContact_n" rows="5"
                                            placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-md-3">                                    
                                    <div class="form-group">
                                        <label for="Description" class="col-form-label">Notes</label>
                                        <textarea class="form-control" style="height: 212px;" id="txtDescription" name="txtDescription_n" rows="5"
                                            placeholder=""></textarea>
                                    </div>
                                </div>   

                                <div class="form-group col-md-3">                                    
                                    <div class="form-group">

                                        <div class="form-group col-md-12">
                                            <label for="Status" class="col-form-label">Status</label>
                                            <select id="cmbStatus" name="cmbStatus_n" class="form-control select2">
                                                <option>Active</option>
                                                <option>InActive</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="Status" class="col-form-label">Upload New Contract file</label>
                                            <input type="file" id="fileInput" name="file" class="filestyle" data-buttonname="btn-primary" data-buttontext="Select" >
                                        </div>

                                        
                                        <div class="form-group" hidden>                                 
                                            <input type="text" id="txtContactDocDB" name="txtContactDocDB_n" class="form-control" autocomplete="off" placeholder="" readonly>
                                        </div>   

                                        <div class="form-group col-md-12"> 
                                            <label for="Status" class="col-form-label">Uploaded Contract file Name</label>                            
                                            <input type="text" id="txtContactDoc" name="txtContactDoc_n" class="form-control" autocomplete="off" placeholder="" readonly>
                                        </div> 

                                        <div class="form-group col-md-12">
                                            <button id="btnDownload" type="button" style="width: 100%;font-size: 16px;"
                                                    class="btn btn-primary btn-rounded w-md waves-effect waves-light"onclick="downloadFile()">Download Contract</button>  
                                        </div>   
                                        <br>
                                        <div class="form-group col-md-12">
                                            {{!-- <div class="form-row"> --}}
                                                <button id="btnsave" type="button" style="width: 100%;font-size: 18px;"
                                                    class="btn btn-primary btn-rounded w-md waves-effect waves-light">Save</button>                                        
                                            {{!-- </div> --}}
                                        </div>    

                                    </div>
                                </div> 
                            </div>

                            <div class="form-row">                                
                                {{!-- <div class="form-group col-md-4">
                                    <input type="file" id="fileInput" name="file" class="filestyle" data-buttonname="btn-primary" data-buttontext="Select Contract file" >
                                </div>

                                <div class="form-group col-md-4">
                                    <button id="btnDownload" type="button" style="width: 100%;font-size: 18px;"
                                            class="btn btn-primary btn-rounded w-md waves-effect waves-light"onclick="downloadFile()">Download Contract</button>  
                                </div>     

                                <div class="form-group" hidden>                                 
                                    <input type="text" id="txtContactDocDB" name="txtContactDocDB_n" class="form-control" autocomplete="off" placeholder="Abbreviation">
                                    <input type="text" id="txtContactDoc" name="txtContactDoc_n" class="form-control" autocomplete="off" placeholder="Abbreviation">
                                </div>                            --}}
                                <div class="form-group col-md-9">

                                </div>
                                
                            </div>
                        </div>

                    </div>
                    {{!-- </form> --}}
                </div>
            </div>
        </div>
        <!-- end row -->    
    </div> <!-- container --> 
</div> <!-- content -->
<footer class="footer text-right">
</footer>


<script>
    

</script>